<?
 /* Begin with reasonable defaults */
 $VERSION = "0.9";
 $TARGETVERSION = "0.8";
 $DEBUG = "1";
 $host="localhost";
 $user="snmp";
 $pass="rtgdefault";
 $db="RTG";
 $refresh=300;
 $pgsql=false;
 $mysql=true;
 $oracle=false;
 $newrtgplot=1;

 $RTG_PNG = "http://".$_SERVER["HTTP_HOST"]."/rtg.png";
 $CLEARGIF = "http://".$_SERVER["HTTP_HOST"]."/dot_clear.gif";

 if($oracle) {
    putenv("ORACLE_BASE=/u/app/oracle");
    putenv("ORACLE_HOME=/u/app/oracle/product/10.2.0");
    putenv("ORACLE_SID=RTG");


 }


 $rtgplot = "http://".$_SERVER["HTTP_HOST"]."/cgi-bin/rtgplot.cgi";
 
 /* Default locations to find RTG configuration file */
 $configs[] = 'rtg.conf';
 $configs[] = '/opt/rtg/etc/rtg.conf';
 $configs[] = '/usr/local/rtg/etc/rtg.conf';
 $configs[] = '/etc/rtg.conf';

 while ($conf = each($configs)) {
   $fp = @fopen($conf['value'], "r");
   if ($fp) {
     while (!feof($fp)) {
       $line = fgets($fp, 4096);
       if (!feof($fp) && $line[0] != '#' && $line[0] != ' ' && $line[0] != '\n') {
         $cVals = preg_split("/[\s]+/", $line, 2);
         if (!strcasecmp($cVals[0], "DB_Host")) $host = chop($cVals[1]);
         else if (!strcasecmp($cVals[0], "DB_User")) $user = chop($cVals[1]);
         else if (!strcasecmp($cVals[0], "DB_Pass")) $pass = chop($cVals[1]);
         else if (!strcasecmp($cVals[0], "DB_Database")) $db = chop($cVals[1]);
       }
     }
     break;
   }
 }

function debug($func,$debug_msg) {
    global $DEBUG;

    if($DEBUG) {
        $cur_time = date("r");
        print "<!-- ";
        print "[".$cur_time."] [$func()] ";
        print $debug_msg;
        print " -->\n";
    } 

}

function microtime_float() {
   list($usec, $sec) = explode(" ", microtime());
   return ((float)$usec + (float)$sec);
}

?>
